/*basic style*/
    * {
        box-sizing: border-box;
    }

    body {
        background-color: white;
    }

    h1 {
       margin-bottom: 15px;
    text-align: center;
    color: #000000;
    font-size: 175%;
    font-weight: bold;
    font-family: Helvetica; 
    }

    section {
        position: relative;
        padding: 15px;
        width: 90%;
    }

    p {
        position: relative;
        clear: right;
    }

    div {
        position: relative;
        background-color: #89CFF0;
        border: 1px solid black;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
    }

    .box1 {
        float: right;
        width: 100px;
        padding: 5px;
        margin: 0px;
        border: 1px solid black;
        text-align: center;
        font-size: 125%;
        font-weight: bold;
        background-color: #FFFF00;

    }

    .box2 {
        float: right;
        color: black;
        width: 100px;
        padding: 5px;
        margin: 0px;
        border: 1px solid black;
        text-align: center;
        font-size: 125%;
        font-weight: bold;
        background-color: #FF0000;

    }

    .box3 {
        color: black;
        float: right;
        width: 100px;
        padding: 5px;
         margin: 0px;
        border: 1px solid black;
        text-align: center;
        font-size: 125%;
        font-weight: bold;
        background-color: #FFE5B4;

    }

    .content {
        padding: 5px;
        background-color: #89CFF0;
        font-family: Helvetica;
        color: black;
        margin: 3px ;
        height: 150px;
    }

    .row {
        width: 90%;
    }

    /*large devices*/
    @media (min-width: 992px) {
        .column-lg-4 {
            float: left;
            width: 33.33%;
        }
    }

    /*medium devices*/
    @media (min-width: 768px) and (max-width: 991px) {
        .colmn-md-6 {
            float: left;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }

        .colmn-md-12 {
            float: left;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    /*mobile version*/
    @media (max-width: 767px) {
        .colmn-sm-12 {
            float: left;
            width: 100%;
        }
    }
